<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
    </head>
    <body>
        <nav>
            <h1><%= title %></h1>           
        </nav>
        <main>
            <%- include('errors') %>
            <form action="login" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Username">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </main>
    </body>
</html>
